$highlight: #fffaa3;
// background color #f4f4f1
$bor: 1px solid red;



body {
    position: relative;
    background-color: #f4f4f1;

    * {
        &::selection {

            background-color: $highlight;
        }
    }


    header {
        background-color: #f4f4f1;
        padding: 0 11.25%;
        // border: $bor;
        width: 100%;
        // margin-top: 80px;
        justify-content: space-between;
        padding-top: 80px;

        >label {
            display: flex;
            // justify-content: end;
            width: 2.5%;
            height: 5vh;
            // border: $bor;
            align-items: center;
            position: absolute;
            z-index: 11;
            cursor: pointer;
            transform: translateX(75.75vw);
            margin-top: 2.75vh;

            &:hover~nav>div>span:nth-of-type(2) {
                transform: translateX(0);
            }
        }

        >input {
            // width: 100%;
            position: absolute;
            // border: $bor;
            transform: translate(100%, 0);
            opacity: 0;
            visibility: hidden;

            &:checked~.menu {
                top: 0;
                // transition: .4s ease;
                transition: 0.8s cubic-bezier(.85, .33, .23, .96);
                opacity: 1;
            }

            // &:checked~nav>div>span {
            //     // color: white;
            //     // z-index: 112;
            // }

        }

        >figure {
            // border: $bor;
            width: 10%;

            >a {
                width: 20%;

                >img {
                    width: 70%;
                }
            }
        }

        >nav {
            // border: $bor;
            display: flex;
            width: 5%;
            justify-content: end;
            align-items: center;
            position: relative;
            cursor: pointer;

            >div {
                // border: $bor;
                width: 45%;
                cursor: pointer;


                >span {
                    // border: $bor;
                    display: flex;
                    width: 100%;
                    background-color: black;
                    height: 3px;
                    margin: 5px;
                    justify-content: end;
                    border-radius: 5%;

                    &:nth-of-type(2) {
                        transform: translateX(50%);
                        transition: .4s ease;
                    }
                }
            }



        }

        .menu {
            // border: $bor;
            display: flex;
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: #000000;
            top: -110vh;
            left: 0;
            // transition: .6s ease-in-out;
            transition: 0.8s cubic-bezier(.85, .33, .23, .96);
            cursor: url(../img/close-menu.png), auto;
            z-index: 100;
            justify-content: center;
            align-content: center;
            // opacity: 0;


            >ul {
                // border: $bor;
                display: flex;
                flex-wrap: wrap;
                width: 25%;
                justify-content: center;
                margin: 0 auto;
                flex-direction: column;
                align-content: center;

                >input {
                    height: 0;
                    opacity: 0;
                    visibility: hidden;

                    &:checked~.drop_down {
                        transition: .4s;
                        margin-bottom: 160px;
                    }

                    &:checked~.drop_down>a i {
                        transform: rotateX(180deg);
                        transition: .4s;
                    }

                    &:checked~.drop_down>ul {
                        opacity: 1;
                        visibility: visible;
                        transition: 0.4s ease;
                    }

                }

                .drop_down {
                    transition: .4s;
                }

                >li {
                    // border: $bor;
                    display: flex;
                    width: 100%;
                    height: 50px;
                    justify-content: center;
                    // text-align: center;
                    position: relative;
                    z-index: 101;
                    transition: .4s;

                    &:nth-of-type(1)>a {
                        color: $highlight;
                    }

                    &:nth-of-type(4)>a {
                        color: $highlight;
                    }

                    &:nth-of-type(4)>a {
                        justify-content: center;

                    }

                    // &:nth-of-type(4){
                    //     // border: $bor;
                    // }

                    >a {
                        display: flex;
                        width: 100%;
                        // border: $bor;
                        font-size: 30px;
                        font-weight: 700;
                        font-family: 'Lato', sans-serif;
                        color: white;
                        text-transform: capitalize;
                        justify-content: center;
                        align-items: center;
                        // position: relative;


                        &:hover {
                            color: $highlight;
                        }

                        >span {
                            // border: $bor;
                            display: flex;
                            // margin-left: 60px;
                            // justify-content: center;
                            // transform: translateX(800%);
                            position: absolute;
                            right: 0;

                            >i {
                                font-size: 20px;
                                font-weight: 700;
                                color: $highlight;
                                // transition: .2s ease;
                            }

                        }
                    }

                    >label {
                        display: flex;
                        // border: $bor;
                        width: 100%;
                        height: 100%;

                        cursor: pointer;
                        position: absolute;
                        right: 0;
                    }


                    >ul {
                        // border: $bor;
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        position: absolute;
                        top: 100%;
                        justify-content: center;
                        margin-top: 10px;
                        visibility: hidden;
                        opacity: 0;
                        transition: 0.4s ease;

                        >li {
                            // border: $bor;
                            display: flex;
                            width: 100%;
                            height: 28px;
                            justify-content: center;
                            align-items: center;
                            // margin: 5px 0;

                            >a {
                                // border: $bor;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: #989898;
                                text-transform: uppercase;
                                font-size: 14px;
                                font-weight: 700;
                                font-family: 'Lato', sans-serif;
                                letter-spacing: 0.5px;

                                &:hover {
                                    color: $highlight;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    >main {
        >div {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 80px;
            padding: 0 11.25%;

            h1 {
                font-family: 'Playfair Display', serif;
                font-size: 52px;
                font-weight: 300;
                line-height: 60px;
                letter-spacing: 0.5px;

                &::selection {
                    background-color: $highlight;
                }

                &:nth-of-type(2)>i {
                    &::after {
                        content: '';
                        background-color: none;
                    }
                }

                >i {
                    font-family: 'Playfair Display', serif, italic;
                    position: relative;

                    &::selection {
                        background-color: $highlight;
                    }

                    &::after {
                        content: '';
                        width: 100%;
                        position: absolute;
                        top: 70%;
                        left: 0;
                        height: 10px;
                        background-color: $highlight;
                        z-index: -1;
                    }

                    &:nth-of-type(2) {
                        &::after {
                            content: '';
                            background-color: transparent;
                        }
                    }


                }
            }
        }

        >figure {
            width: 100%;
            display: flex;
            margin: 0 auto;
            justify-content: center;
        }

        >article {
            width: 64%;
            background-color: #fff;
            margin: 0 auto;
            padding-top: 80px;
            transform: translateY(-100px);

            >p {
                column-count: 2;
                margin: 0 80px 50px 80px;
                font-family: 'Lato', sans-serif;
                font-size: 16px;
                line-height: 28px;
                font-weight: 400;
                color: #444;
                letter-spacing: 0.5px;
                column-gap: 100px;
                text-align: left;

            }

            >.quote {
                width: 100%;
                // border: $bor;
                position: relative;
                height: 100px;

                >i {
                    // border: $bor;
                    font-size: 120px;
                    height: 100px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    color: #d6d6d6;
                }
            }

            >h4 {
                width: 100%;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                font-style: italic;
                margin: 0 auto;
                font-size: 24px;
                line-height: 35px;
                color: #676767;
                text-align: center;
                padding: 0 20%;
            }

            >h5 {
                display: flex;
                justify-content: center;
                font-family: 'Lato', sans-serif;
                margin: 0 auto;
                font-weight: 700;
                font-size: 16px;
                line-height: 28px;
                color: #000;
                margin-top: 25px;
                position: relative;
                width: fit-content;
                z-index: 100;
                margin-bottom: 80px;

                &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 5px;
                    background-color: $highlight;
                    bottom: 22%;
                    z-index: -1;
                }
            }

            >.awards {
                width: 100%;
                background-color: black;
                column-count: 2;
                column-gap: 160px;
                // border: $bor;
                padding: 80px 12%;

                >* {
                    color: #fff;
                }

                >span {
                    display: flex;
                    flex-wrap: wrap;
                    // border: $bor;
                    font-family: 'Lato', sans-serif;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                    text-align: left;

                    >h6 {
                        width: 100%;
                        // border: $bor;
                        font-weight: 900;
                        font-size: 14px;
                        line-height: 12px;
                        text-align: left;
                        letter-spacing: 0.5px;
                    }
                }
            }

            >.grid {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);

                >div {
                    display: flex;
                    width: 100%;
                    position: relative;

                    &:hover>span {
                        opacity: 1;
                    }

                    >figure {
                        display: flex;
                        width: 100%;

                        // height: 100%;
                        >img {
                            display: flex;
                            width: 100%;
                            // height: 100%;
                            object-fit: cover;
                        }
                    }

                    >span {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: black;
                        color: #fff;
                        display: flex;
                        // border: $bor;
                        flex-wrap: wrap;
                        padding: 20% 10%;
                        transition: 0.4s ease;
                        opacity: 0;

                        >h6 {
                            display: flex;
                            // border: $bor;
                            width: 100%;
                            font-family: 'Lato', sans-serif;
                            font-size: 16px;
                            line-height: 28px;
                            font-weight: 700;
                            letter-spacing: 0.5px;
                            justify-content: center;
                        }

                        >p {
                            display: flex;
                            // border: $bor;
                            width: 100%;
                            font-family: 'Lato', sans-serif;
                            font-size: 16px;
                            line-height: 28px;
                            font-weight: 400;
                            text-align: center;
                        }

                        >span {
                            display: flex;
                            width: 100%;
                            justify-content: center;

                            >a {

                                color: #fff;

                                >i {
                                    margin: 10px;
                                    font-size: 24px;
                                    // border: $bor;   
                                    transition: 0.4s ease;
                                }

                                &:hover>i {
                                    color: #989898;
                                    transition: 0.4s ease;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    >footer {
        padding: 0 11.25%;
        // border: $bor;
        width: 100%;
        height: 160px;
        background-color: black;
        justify-content: space-between;


        >p {
            display: flex;
            color: #fff;
            // border: $bor;
            width: 30%;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.5px;
            line-height: 36px;
            justify-content: start;
            align-items: center;

            &::selection {
                background-color: $highlight;
            }

            >a {
                margin-left: 4px;
                line-height: 36px;
                transition: .2s ease;
                color: inherit;

                &:hover {
                    transition: .2s ease;
                    color: #444;
                }

                &::selection {
                    background-color: $highlight;
                }
            }
        }

        >ul {
            // border: $bor;
            width: 40%;
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
            align-items: center;

            >li {
                // border: $bor;
                display: flex;
                align-items: center;
                height: 36px;
                margin-left: 24px;

                >a {
                    // border: $bor;
                    width: 100%;
                    display: flex;
                    color: #fff;
                    font-family: 'Lato', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                    line-height: 36px;
                    transition: .2s ease;
                    text-transform: capitalize;

                    &:hover {
                        transition: .2s ease;
                        color: #444;
                    }

                    &::selection {
                        background-color: $highlight;
                    }
                }
            }
        }
    }
}